{% extends 'layouts/base.html' %}

{% block title %} Couples {% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">
      <!-- Settings -->
      <div class="row">
        <div class="col">
          <div class="card bg-secondary shadow">
            <form action="/employees" method="get">
              <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                  <div class="col-8">
                    <h3 class="mb-0">Settings</h3>
                  </div>
                  <div class="col-4 text-right">
                    <input type="submit" class="btn btn-sm btn-primary ml-4" value="Refresh">
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="pl-lg-0">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="form-control-label" for="start_date">Start date</label>
                        <input type="date" id="start_date" class="form-control form-control-alternative"
                        name="start_date" value="{{ start_date }}">
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label class="form-control-label" for="end_date">End date</label>
                        <input type="date" id="end_date" class="form-control form-control-alternative" name="end_date" value="{{ end_date }}">
                      </div>
                    </div>
                    <div class="col-lg-2">
                      <div class="form-group">
                        <label class="form-control-label" for="lines"># lines</label>
                        <input type="text" id="lines" class="form-control form-control-alternative" name="lines" value="{{ lines }}">
                      </div>
                    </div>
                    <div class="col-lg-2">
                      <div class="form-group">
                        <label class="form-control-label" for="low_thr">Low thr.</label>
                        <input type="text" id="low_thr" class="form-control form-control-alternative" name="low_thr" 
                        value="{{ low_thr }}" placeholder="">
                      </div>
                    </div>
                    <div class="col-lg-2">
                      <div class="form-group">
                        <label class="form-control-label" for="high_thr">High thr.</label>
                        <input type="text" id="high_thr" class="form-control form-control-alternative" name="high_thr" 
                        value="{{ high_thr }}" placeholder="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- Tables 1 -->
      <div class="row mt-4">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mt-0">Pairs of employees communicating the most with each other</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Employee 1</th>
                    <th scope="col">Employee 2</th>
                    <th scope="col"># mails</th>
                  </tr>
                </thead>
                <tbody>
                  {% for u in user %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center media-body">
                          <span class="mb-0 text-sm">{{ u.name }} ({{ u.category }})</span>
                      </div>
                    </th>
                    <th scope="row">
                      <div class="media align-items-center media-body">
                          <span class="mb-0 text-sm">{{ u.name }}  ({{ u.category }})</span>
                      </div>
                    </th>
                    <td> {{ u.inEnron }} </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}
    </div>

{% endblock content %}
